@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Whacky Westin's Wine Emporium</h1>
    <p class="lead">We've got the wine if you've got the time... and money.</p>
    <p><a href="/home/about" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
